---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <a href="//blog.with2.net/link/?1941652:1068"><img src="https://blog.with2.net/img/banner/c/banner_1/br_c_1068_1.gif"></a><br><a href="//blog.with2.net/link/?1941652:1068"></a>
  <a href="//blog.with2.net/link/?1941652:1081"><img src="https://blog.with2.net/img/banner/c/banner_1/br_c_1081_1.gif" title="格安SIM・スマホランキング"></a><br><a href="//blog.with2.net/link/?1941652:1081" style="font-size: 0.8em;"></a>  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>


<!-- ページ分割されたpostsに対してループ -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- ページネーションリンク -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
