---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <a href="//blog.with2.net/link/?1941652:1919"><img src="https://blog.with2.net/img/banner/c/banner_1/br_c_1919_1.gif" title="銀塩写真ランキング"></a>
  <a href="//blog.with2.net/link/?1941652:1918"><img src="https://blog.with2.net/img/banner/c/banner_1/br_c_1918_1.gif" title="デジタル一眼ランキング"></a>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
